<!DOCTYPE html>
<html lang="en">
​

<head>
  <title>Fitness App</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  ​
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script defer src="theme.js"></script>
  ​
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/settings.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet" />
</head>
​

<body class="food">

  <%- include ("./partials/template/navbar.ejs") %>
  <div class="container">


    <H1 class="text-center">Exercise Log</H1>
    <form action="/foodexercise" method="POST">
      <label>
        <span class="label-text">Exercise Type:</span>
        <select name="exercise">
          <% exercises.forEach(exercise => {%>
          <option value="<%=exercise.id%>"><%=exercise.name%></option>
          <%})%>
        </select>
      </label>
      <label>
        <span class="label-text">Duration:</span>
        <input type="text" name="duration" placeholder="duration in minutes (interval of 15)">
      </label>
      <br>
      <div class="text-center">
        <button class="submit" value='exercise' name='submit'>Submit Exercise</button>
      </div>
    </form>
    <hr>
    <h1 class="text-center">Food Log</h1>
    <form action="/foodexercise" method="POST">
      <label>
        <span class="label-text">Food Name:</span>
        <input type="text" name="food" placeholder="chicken alfredo">
      </label>
      <label>
        <span class="label-text">Calorie Amount: </span>
        <input type="text" name="calories" placeholder="340">
      </label>
      <br>
      <div class="text-center">
        <button class="submit" value='food' name="submit">Submit Food</button>
      </div>
    </form>




  </div>
  ​</div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
​

</html>