<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fitness App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script defer src="theme.js"></script>

    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include ("./partials/template/navbar.ejs") %>
    <% if (userID == undefined) {%>
    <div class="body introtext">
      <div class="row background">
        <div class="innerbox row">
          <div class='d-flex align-items-center col-7'>
            <img class="homeImage" src="/images/runnerFeet.jpg" alt="">
          </div>
          <div class="row col-5 justify-content-around">
            <div class="d-flex h1 m-title">Journey</div>
            <div class="d-flex"> 
              Are you ready to start your Journey to a newer and healthier you?
              Well then you have come to the right place. Sign in and continuing logging your
              exercises if your a returning using or create and account to start managing your
              new lifestyle.
            </div>
          </div>
        </div>
        <div class="row justify-content-around login p-5">
          <button class="login-reg" onclick="login()">Login</button>
          <button class="login-reg" onclick="register()">Register</button>
        </div>
      </div>
    </div>

        <%}else{%>
            <img class="login-image" src="/images/yoga.jpg" alt="">
            <div class="links-white row align-items-center">
              <div class='d-flex col-4'>
              <a href="/foodexercise" class="left">
              <svg 
              xmlns="http://www.w3.org/2000/svg" 
              aria-hidden="true" 
              focusable="false" 
              data-prefix="fas" 
              data-icon="dumbbell" 
              class="svg-inline--fa fa-dumbbell fa-w-20 dumbbell" 
              role="img" 
              viewBox="0 0 640 512"
              ><path 
              fill="currentColor" 
              d="M104 96H56c-13.3 0-24 10.7-24 24v104H8c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h24v104c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24V120c0-13.3-10.7-24-24-24zm528 128h-24V120c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v272c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24V288h24c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zM456 32h-48c-13.3 0-24 10.7-24 24v168H256V56c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v400c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24V288h128v168c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24z"
              class="svg-link"/>
            </svg>
            </a>
            </div>
            <div class="d-flex col-8 home-font">
              Track Your Exercise and Calorie intake with or quick and easy input fields. This
              will help us monitor your daily caloric deficit to get a more accurate estimate of your
              weight loss trends the more you update.
            </div>
            </div>
            <div class="links-dark row align-items-center">
              <div class="d-flex col-8 home-font left">
                Track Your Exercise and Calorie intake with our quick and easy input fields. This
                will help us monitor your daily caloric deficit to get a more accurate estimate of your
                weight loss trends the more you update.
              </div>
              <div class='d-flex col-3'>
                <a href="/tracker" class="right">
                  <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fad"
                  data-icon="space-shuttle"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 640 512"
                  class="svg-inline--fa fa-space-shuttle fa-w-20 fa-5x"
                >
                <g class="fa-group">
                  <path
                    fill="currentColor"
                    d="M32 416c0 35.35 21.49 64 48 64h16V352H32zm154.54-232h280.13L376 168C243 140.59 222.45 51.22 128 34.65V160h18.34a45.62 45.62 0 0 1 40.2 24zM32 96v64h64V32H80c-26.51 0-48 28.65-48 64zm114.34 256H128v125.35C222.45 460.78 243 371.41 376 344l90.67-16H186.54a45.62 45.62 0 0 1-40.2 24z"
                    class="svg-link"
                  ></path>
                  <path
                    fill="currentColor"
                    d="M592.6 208.24C559.73 192.84 515.78 184 472 184H186.54a45.62 45.62 0 0 0-40.2-24H32c-23.2 0-32 10-32 24v144c0 14 8.82 24 32 24h114.34a45.62 45.62 0 0 0 40.2-24H472c43.78 0 87.73-8.84 120.6-24.24C622.28 289.84 640 272 640 256s-17.72-33.84-47.4-47.76zM488 296a8 8 0 0 1-8-8v-64a8 8 0 0 1 8-8c31.91 0 31.94 80 0 80z"
                    class="svg-link"
                  ></path>
                </g>
              </svg>
              </a>
            </div>
            </div>
            <div class="links-white row align-items-center">
              <div class='d-flex col-3'>
              <a href="/chat" class="left">
              <svg 
              xmlns="http://www.w3.org/2000/svg" 
              aria-hidden="true" 
              focusable="false" 
              data-prefix="fas" 
              data-icon="comment-alt" 
              class="svg-inline--fa fa-comment-alt fa-w-16" 
              role="img" viewBox="0 0 512 512">
              <path 
              fill="currentColor" 
              d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z"
              class="svg-link"
              ></path>
            </svg>
          </a>
          </div>
          <div class="d-flex col-8 home-font left">
            Chat with other people going through a similar exercise journey as yourself. Or try to find
            more experienced gym rats to help you make new exercise routines with our chat page. Finding
            new workout tips could not be easier.
          </div>
            </div>
            <div class="links-dark row align-items-center">
              <div class="d-flex col-8 home-font left">
                Learning more about the people who made this page is as easy as clicking one button.
                Head to our about us page to learn about who we are, and how you might be able to contact us.
                Don't be afraid to let us know you saw the site.
              </div>
              <div class="d-flex col-3">
              <a href="/aboutus" class="right">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fad"
                  data-icon="alien-monster"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x"
                >
                  <g class="fa-group">
                    <path
                      fill="currentColor"
                      d="M560,128H528a15.99954,15.99954,0,0,0-16,16v80H480V176a15.99954,15.99954,0,0,0-16-16H416V96h48a16.00079,16.00079,0,0,0,16-16V48a15.99954,15.99954,0,0,0-16-16H432a15.99954,15.99954,0,0,0-16,16V64H368a15.99954,15.99954,0,0,0-16,16v48H224V80a15.99954,15.99954,0,0,0-16-16H160V48a15.99954,15.99954,0,0,0-16-16H112A15.99954,15.99954,0,0,0,96,48V80a16.00079,16.00079,0,0,0,16,16h48v64H112a15.99954,15.99954,0,0,0-16,16v48H64V144a15.99954,15.99954,0,0,0-16-16H16A15.99954,15.99954,0,0,0,0,144V272a16.00079,16.00079,0,0,0,16,16H64v80a16.00079,16.00079,0,0,0,16,16h48v80a16.00079,16.00079,0,0,0,16,16h96a16.00079,16.00079,0,0,0,16-16V432a15.99954,15.99954,0,0,0-16-16H192V384H384v32H336a15.99954,15.99954,0,0,0-16,16v32a16.00079,16.00079,0,0,0,16,16h96a16.00079,16.00079,0,0,0,16-16V384h48a16.00079,16.00079,0,0,0,16-16V288h48a16.00079,16.00079,0,0,0,16-16V144A15.99954,15.99954,0,0,0,560,128ZM224,320H160V224h64Zm192,0H352V224h64Z"
                      class="svg-link"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M160,320h64V224H160Zm192-96v96h64V224Z"
                      class="svg-link"
                    ></path>
                  </g>
                </svg>
              </a>
            </div>
            </div>
        <%}%>

    <!-- Optional JavaScript -->
    <script>
      var login = ()=>{
        window.location.pathname = '/login';
      }
      var register = ()=>{
        window.location.pathname = '/register';
      }

    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
