<!DOCTYPE html>
<html lang="en">
​
​
<head>
    <title>Fitness App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    ​
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script defer src="theme.js"></script>
    ​
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet" />
</head>
​
​
<body>
    <%- include ("./partials/template/navbar.ejs") %> ​
    <div class="body">
        <div class="row introtext food-exercise">
​
            <form action="/register" method="POST">
                <h1>Ready To Start Your Journey !</h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email </label>
                    <input name="email" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" />
                </div>
                <div class="form-group">
                    <label for="exampleInputHeight1">Height (Feet.Inches)</label>
                    <input name="height" type="height" class="form-control" id="exampleInputHeight1" />
                </div>
                <div class="form-group">
                    <label for="exampleInputWeight1">Weight (in pounds)</label>
                    <input name="weight" type="weight" class="form-control" id="exampleInputWeight1" />
                </div>
                <div class="form-group">
                    <label for="exampleInputAge1">Age</label>
                    <input name="age" type="age" class="form-control" id="exampleInputAge1" />
                </div>
                <div class="form-group">
                    <label for="exampleInputGender1">Gender</label>
                    <input name="gender" type="gender" class="form-control" id="exampleInputGender1" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <hr />
            <div class="row">
                <div class="col">
                    <h1>Already registered?</h1>
                    <form action="/login">
                        <button type="submit" class="btn btn-dark">Login Now</button>
                </div>
            </div>
        </div>
    </div>
    ​
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
​
​
</html>