<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script defer src="theme.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/settings.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet" />
</head>

<body>
  <%- include ("./partials/template/navbar.ejs") %>
  <div class="body introtext">
    <h1>Settings</h1>
    <!-- <img src="/images/StockRaiseTheBar.jpeg" height="600px" alt="raise the bar"> -->
    Here you can update your body statistics over time so you can stay up to date with your progress.
    <form action="/settings" method="POST">
      <br>
      <input type="text" name="height" placeholder="height">
      <br>
      <input type="text" name="weight" placeholder="weight">
      <br>
      <input type="text" name="age" placeholder="age">
      <br>
      <!-- <input type="text" name="gender" placeholder="gender">
      <br> -->
      <select id="gender" name="gender">
        <option value="Female">Female</option>
        <option value="Male">Male</option>
      </select>

      <button type="submit" class="btn btn-dark">Update</button>
    </form>
    <!-- <button type="submit">Update</button> -->
    <br>
    <br>
    <br>

    <img src="/images/StockShoeTying.jpeg" height="600px" alt="man tying shoes">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>