<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script defer src="theme.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include ("./partials/template/navbar.ejs") %>
    <div>
      Tracker Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
      laboriosam, cupiditate nemo ipsam voluptate sunt consequatur est similique
      minus a quaerat at veritatis corrupti itaque sequi ratione iste eius
      natus. Vitae distinctio adipisci quod maxime! Voluptatum, repudiandae
      modi? Praesentium, molestiae in soluta blanditiis quae aliquid nobis
      pariatur, ipsa itaque numquam harum repellendus hic illum reprehenderit
      unde! Pariatur dolore sed excepturi. Earum provident illo modi hic. Quam,
      inventore esse. Fuga laborum aspernatur error id necessitatibus, quos enim
      perspiciatis, iste omnis, temporibus animi quidem adipisci eaque voluptas
      deleniti officiis sapiente consequuntur reiciendis?
    </div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nemo impedit
    officia, corrupti, similique totam voluptate nam explicabo repellendus
    doloremque sunt quia corporis dicta soluta error. Nobis quisquam quis
    mollitia!Provident earum architecto praesentium aliquam, tempore deleniti.
    Ab velit assumenda exercitationem nam quis ad commodi, repellendus fuga
    sapiente nihil recusandae vel nemo labore culpa iste officia saepe,
    accusamus aliquam beatae!
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
