hr.black {
    border-top: 2px solid black;
}
.main-container{
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    width: 60%;
    border: 10px double #0B5351;
    padding: 10px;
    background-color: #FFF1BE;
    padding: 10px;
    color: #4C243B;
}
.right {
    float: right;
    width: 350px;
    height:480px;
    padding: 20px;
    
}
.left {
    float: left;
    width: 400px;
    
}